* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    --foreground-colour: rgb(65,65,65);
    --separator-colour: rgb(175, 175, 175);
}

:root {
    color: var(--foreground-colour);
}

html, body {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 80px;
    background: #f0f4f5;
    box-shadow: 0 1px 5px 0px rgba(0,0,0,0.1);
    flex-shrink: 0;
}

.placeholder {
    position: relative;
    background: gray;
    border-radius: 16px;
}

.placeholder::after {
    content: "Placeholder";
    color: white;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: .8em;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.navbar {
    height: 100%;
}

.navbar li {
    float: left;
    list-style: none;
    display: flex;
    padding: 0px 16px;
    height: 100%;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.2s ease-in;
}

.navbar li:hover {
    background: rgba(20, 24, 27, 0.1);
    cursor: pointer;
    user-select: none;
}

.selectable-tab-active {
    display: block;
    position: relative;
}

.selectable-tab::after {
    content: "";
    transition: 0.2s ease-in;
    height: 0;
    transform: translateX(-50%);
}

.selectable-tab-active::after {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 3px;
    background: #247d8f;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.expanded {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.tab {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    overflow: hidden;
}

.tab-view {
    position: relative;
    height: inherit;
    flex-grow: 1;
    display: contents;
}

.tab-active {
    display: flex;
    flex-direction: column;
}

/* button {
    margin: 0px 8px;
} */

/* row and column stuff */

.centered-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-centered {
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.space-between-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.space-between-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-row {
    gap: 16px;
}


/* .centered-column * {
    text-align: center;
} */

button {
    padding: 6px 12px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* border: 1px solid rgba(0,0,0,0.1); */
    background-color: #359da6;
    transition: 0.2s linear;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

button:hover {
    background: #007580;
    cursor: pointer;
}

.task-group {
    position: relative;
    padding: 16px;
    border-radius: 24px;
    width: 100%;
    background-color: #e8eded;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 5px 3px 0px rgba(0,0,0,0.3);
    overflow: hidden;
}

.task-group .task-header {
    padding-bottom: 16px;
}

.task-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
    overflow: scroll;
    padding: 8px 8px;
    margin: -8px;
    border-radius: 16px;
}

/* Task card */

.task-card {
    display: flex;
    flex-direction: column;
    background: #f5f7f7;
    padding: 16px;
    border-radius: 16px;
    /* overflow: hidden; */
    box-shadow: 2px 4px 5px -1px rgba(0,0,0,0.3);
    flex-shrink: 0;
    user-select: none;
    cursor: pointer;
}

.task-description {
    margin: 0 16px;
}

.task-card .task-deadline {
    margin: 0 16px;
    font-size: .8em;
    /* font-weight: 700; */
}

.task-card .task-status-display {
    padding: 4px 6px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    font-size: .8em;
    height: fit-content;
    text-align: center;
}

.status-completed, select[selected="2"]  {
    background: green;
}

.status-progress, select[selected="1"] {
    background: rgb(245, 141, 4);
}

.status-not-started, select[selected="0"] {
    background: rgb(143, 4, 4);
}

.status-container { 
    width: 225px;
    flex-shrink: 0;
}

.task-body-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 8px;
}

.tag-row {
    position: relative;
    display: flex;
    gap: 6px;
    /* margin-top: 8px; */
    float: left;
    height: fit-content;
    flex-wrap: wrap;
}

.tag-row .task-tag {
    padding: 4px 6px;
    background: grey;
    font-size: .8em;
    font-weight: bold;
    color: white;
    border-radius: 8px;
}

textarea {
    resize: none;
    font-size: 0.8rem;
}

.input-field {
    margin: 8px 0;
    text-align: start;
    width: 100%;

}

.input-field label p {
    margin-bottom: 6px;
}

.input-field input[type="text"], textarea, input[type="date"] {
    width: 100%;
    box-sizing: border-box;
}

input[type="text"], textarea, input[type="date"] {
    padding: 8px 6px;
    border: none;
    border-radius: 8px;
    background: rgba(240,240,240);
    transition: 0.2s ease-in-out;
}

input[type="text"]:focus, textarea, input[type="date"] {
    outline: none;
    /* filter: brightness(0.9); */
}

.input-field input[type="date"] {
    cursor: pointer;
}

.input-field input[type="date"]::selection {
    background: transparent;
}


#task-view-modal {
    min-width: 700px;
    max-height: 85vh;
}

.horizontal-spacer {
    width: 100%;
    height: 1px;
    position: relative;
    background: var(--separator-colour);
    margin: 16px 0;
}

.task-relations-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.task-relations-wrapper .nested-tasks-section {
    flex: 65
}

.task-relations-wrapper .related-notes-section {
    flex: 35
}

.vertical-separator {
    width: 1px;
    background: var(--separator-colour);
    position: relative;
}

.nested-tasks-container, .related-notes-container {
    min-height: 100px;
    margin-top: 16px;
}

.larger-tags .task-tag {
    padding: 6px 12px;
    /* border-radius: 12px; */
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

input[type="color"] {
    width: 30px;
    border: 2px solid var(--separator-colour);
    outline: none;
    border-radius: 12px;
    overflow: hidden;
}

input::-moz-color-swatch {
    border: none;
}

.tag-select-container {
    margin-bottom: 12px;
}

.tag-select-container .task-tag {
    padding: 4px 6px;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
    color: white;
    cursor: pointer;
}

.tag-select-container .task-tag:hover {
    filter: brightness(1.2);
}

.status-container select {
    padding: 6px 8px;
    border-radius: 12px;
    border: none;
    font-weight: 700;
    color: white;
    width: 100%;
}